{% extends "core/sidebar.html" %}
{% block content %}
    <section class="mb-4">
        {% if user.is_authenticated %}
            <div class="card">
                <div class="card-header">Universal Login</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">User information:</h6>
                    <p class="card-text">TBD</p>
                </div>
                <div class="card-footer text-muted">Go to <a href="{% url 'core:index' %}" class="card-link">Main Page</a> to log out.</div>
            </div>
        {% else %}
            <div class="card">
                <div class="card-header">Universal Login</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Not Authenticated</h6>
                    <p class="card-text">Click the button below to use Auth0's universal login.</p>
                    <a href="{% url 'auth0:login' %}" class="btn btn-primary">Universal Login</a>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock content %}
